<nav class="navbar navbar-expand-lg navbar-light navegacion" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item ">
          <a class="nav-link enlaces" href="categorias/teclados">Teclados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link enlaces" href="categorias/mouses">Mouses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link enlaces" href="categorias/memorias">Memorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link enlaces" href="categorias/pantallas">Pantallas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link enlaces" href="categorias/accesorios_cel">Accesorios Para
            Celulares</a>
        </li>
      </ul>
      <form class="d-flex">
      </form>
    </div>
  </div>

</nav>