<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Inicio de Sesión Administrador
          </div>
          <div class="card-body">
            <form [formGroup]="inicioAdmin">
              <div class="mb-3">
                <label for="usuario" class="form-label">Usuario:</label>
                <input type="text" class="form-control" id="usuario" name="usuario" 
                placeholder="Ingrese su usuario" formsControlName="usuario">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" class="form-control" id="password" name="password" 
                placeholder="Ingrese su contraseña" formsControlName="password">
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary" (click)="loginAdm()">Iniciar Sesión</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  