<h1 class="text-center">Mi Cuenta</h1>


<div class="container mt-4">
    <h2>Mis Compras</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Categorías</th>
          <th>Producto</th>
          <th>FechaCompra</th>
          <th>Eliminar</th>
          <th>Editar</th>
          <th>Volver a Pedir</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dato of tusDatos">
          <td>{{ dato.id }}</td>
          <td>{{ dato.producto}}</td>
          <td>{{ dato.categoria }}</td>
          <td>{{ dato.fecha }}</td>
          <td> <button class="btn btn-danger">Delete</button> </td>
          <td> <button class="btn btn-primary">Edit</button> </td>
          <td> <button class="btn btn-success">Volver a Pedir</button> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tabla"></div>